<p>Welcome to the Like it or not site.  The goal of this site is to create a project which supports .NET Web Api, MVC, AngularJS, Authentication, Authorization, and Entity Framework to store the data in a SQL database.
</p>
<p>
    Depending on your database setup, you may want to change your database connection string.  The default configuration for this template is this:
    <br/>
    name="applicationDB" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=LikeItOrNotDB;User ID=sa;password=Aa@123456;Integrated Security=False"
    
    The whole database will be created the first time that you use the site by registrering an user.
</p>






